# Scratch Data Selection Notebook

- After data has been loaded in, lets do the actual data querying in SQL.

Builds of us_elec/SQL/datasets.py to build up dataset for forecasting

In [1]:
import pandas as pd
import sklearn

In [3]:
from us_elec.SQL.sqldriver import SQLDriver

In [4]:
from datetime import datetime

In [5]:
sqldr = SQLDriver()

In [6]:
sqldr.get_data("SELECT * FROM EBA LIMIT 10;")

[(datetime.datetime(2023, 3, 2, 22, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  7953.0),
 (datetime.datetime(2023, 3, 2, 21, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  7882.0),
 (datetime.datetime(2023, 3, 2, 20, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8055.0),
 (datetime.datetime(2023, 3, 2, 19, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8269.0),
 (datetime.datetime(2023, 3, 2, 18, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8495.0),
 (datetime.datetime(2023, 3, 2, 17, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8644.0),
 (datetime.datetime(2023, 3, 2, 16, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8736.0),
 (datetime.datetime(2023, 3, 2, 15, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  8457.0),
 (datetime.datetime(2023, 3, 2, 14, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  7732.0),
 (datetime.datetime(2023, 3, 2, 13, 0, tzinfo=datetime.timezone.utc),
  23,
  4,
  7158.0)]

In [7]:
from us_elec.SQL.datasets import SimpleDataSet
from us_elec.SQL.sqldriver import ISDDF, EBAName, EBAAbbr
from datetime import datetime

In [8]:
sd = SimpleDataSet()

In [9]:
t1 = datetime(2019,5,1)
t2 = datetime(2019,5,2)
r0 = sd.get_eba_record(EBAAbbr.D, t1, t2)
r1 = sd.get_isd_record(ISDDF.TEMPERATURE, t1, t2)

In [10]:
r0.values

array([[ 639., 2358., 1384., ..., 3163., 1017.,   68.],
       [ 623., 2360., 1405., ..., 3167., 1070.,   69.],
       [ 560., 2210., 1412., ..., 3246., 1068.,   68.],
       ...,
       [ 680., 2133., 1404., ..., 2340.,  956.,   72.],
       [ 676., 2190., 1393., ..., 2369., 1006.,   73.],
       [ 655., 2257., 1390., ..., 2382., 1050.,   72.]])

In [11]:
r0.columns

Index(['AEC', 'AECI', 'AVA', 'AZPS', 'BANC', 'BPAT', 'CAL', 'CAR', 'CENT',
       'CHPD', 'CISO', 'CPLE', 'CPLW', 'DOPD', 'DUK', 'EPE', 'ERCO', 'FLA',
       'FMPP', 'FPC', 'FPL', 'GCPD', 'GVL', 'HST', 'IID', 'IPCO', 'ISNE',
       'JEA', 'LDWP', 'LGEE', 'MIDA', 'MIDW', 'MISO', 'NE', 'NEVP', 'NSB',
       'NW', 'NWMT', 'NY', 'NYIS', 'PACE', 'PACW', 'PGE', 'PJM', 'PNM', 'PSCO',
       'PSEI', 'SC', 'SCEG', 'SCL', 'SE', 'SEC', 'SOCO', 'SPA', 'SRP', 'SW',
       'SWPP', 'TAL', 'TEC', 'TEN', 'TEPC', 'TEX', 'TIDC', 'TPWR', 'TVA',
       'US48', 'WACM', 'WALC', 'WAUW'],
      dtype='object', name='abbr')

In [12]:
r0.head()

abbr,AEC,AECI,AVA,AZPS,BANC,BPAT,CAL,CAR,CENT,CHPD,...,TEN,TEPC,TEX,TIDC,TPWR,TVA,US48,WACM,WALC,WAUW
ts,,,,,,,,,,,,,,,,,,,,,
2019-05-01 01:00:00+00:00,639.0,2358.0,1384.0,3368.0,-540844.0,5873.0,29459.0,29024.0,29103.0,153.0,...,20181.0,1374.0,46715.0,315.0,519.0,20181.0,473211.0,3163.0,1017.0,68.0
2019-05-01 02:00:00+00:00,623.0,2360.0,1405.0,3442.0,-1056086.0,5975.0,30394.0,27380.0,28949.0,151.0,...,19815.0,1364.0,47016.0,310.0,521.0,19815.0,465679.0,3167.0,1070.0,69.0
2019-05-01 03:00:00+00:00,560.0,2210.0,1412.0,3497.0,1846.0,6054.0,31802.0,24653.0,28044.0,156.0,...,18394.0,1342.0,45822.0,311.0,522.0,18394.0,443920.0,3246.0,1068.0,68.0
2019-05-01 04:00:00+00:00,488.0,1962.0,1439.0,3512.0,1919.0,6176.0,32619.0,22215.0,26536.0,157.0,...,16722.0,1272.0,43099.0,320.0,533.0,16722.0,418379.0,3132.0,1044.0,74.0
2019-05-01 05:00:00+00:00,429.0,1847.0,1378.0,3314.0,1846.0,5972.0,31179.0,20274.0,25041.0,154.0,...,15205.0,1088.0,40019.0,312.0,522.0,15205.0,391291.0,2975.0,997.0,69.0

DataBase Structure

- So this is a mess.  I wanted a place to play with Raw SQL.EBAName

Table structure is:
EBA (dt, station_id, name_id, value)
EBAMeta (id, variable_name)
ISO (dt, iso_id, name_id, value)
ISOMeta (id, variable_name)

Idea being you inner join to Meta tables to get full name at query time.  Save space and inserts just using integers rather than 10^8 long strings.  

Then build up SQL queries programmatically in Python to do that work.  use Python classes to collect the labels.

Populate the Meta tables initially. 

ColName used for SQL columns
EBAName for EBA tables
EBAAbbr for EBA variable names
EBAGenAbbr for EBA variable names

ISDName for ISD tables
ISDDF for ISD variable names and conversion.

But, used variable names as abbreviation names, with a dict for lookup.
Should probably be tuple to allow lookup of both quickly.

Really this feels more like I should just move over to using SQLAlchemy to define the tables, and do the querying rather than building my own crummy library.

In [13]:
import boto3

In [14]:
#!cat /root/.aws/credentials

In [5]:
%pdb off
import boto3
bucket = 'noaa-ndfd-pds'
#Make sure you provide / in the end
prefix = 'wmo/temp/2020/04/16/'  

# start 2020/4/16

def get_res():
    #import ipdb; ipdb.set_trace()
    client = boto3.client('s3')
    result = client.list_objects(Bucket=bucket, Prefix=prefix, Delimiter='/')
    return result
    #for o in result.get('CommonPrefixes'):
    #    print('sub folder : ', o.get('Prefix'))

Automatic pdb calling has been turned OFF

In [ ]:
2020/4 - present on https://noaa-ndfd-pds.s3.amazonaws.com/index.html
2018/06 - 2020/4 on https://www.ncei.noaa.gov/thredds/catalog/model-ndfd-file-old/catalog.html THREDDS

In [19]:
client = boto3.client('s3')
bucket = 'noaa-ndfd-pds'
#Make sure you provide / in the end
prefix = 'wmo/temp/2021/05/16/'  
result = client.list_objects(Bucket=bucket, Prefix=prefix, Delimiter='/')

In [25]:
from us_elec.util.get_forecast_data import get_file, download_s3_ndfd_file, get_prefix, get_relevant_file, get_local_file

In [16]:
pfx = get_prefix('temp')

In [23]:
get_relevant_file(result['Contents'], pfx, use_newest=True)

'wmo/temp/2021/05/16/YEUZ88_KWBN_202105162350'

In [24]:
get_relevant_file(result['Contents'], pfx, use_newest=False)

'wmo/temp/2021/05/16/YEUZ88_KWBN_202105160051'

In [13]:
boto3.__version__

'1.28.29'

In [47]:
get_file(2020, 11, 31, 'temp')

INFO:root: No files found for (wmo/temp/2020/11/31/)

In [37]:
import os

In [39]:
os.path.split('/tf/data/whoah/cool/dir/file')

('/tf/data/whoah/cool/dir', 'file')

In [44]:
os.makedirs('/tmp/blah/moo')

FileExistsError: [Errno 17] File exists: '/tmp/blah/moo'